button{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 1000px;
    padding: 20px 25px;
    font-size: 16px;
    background: $btn_1;
    color: $_1;
    &:hover{
        background: $btn_1_hover;
    }
    &:active{
        background: $btn_1_active;
    }

    &.min{
        padding: 11px 24px;
    }

    &.black{
        color: #fff;
        font-weight: 600;
        background: $btn_2;
        &:hover{
            background: $btn_2_hover;
        }
        &:active{
            background: $btn_2_active;
        }
    }

    &.secondary{
        color: #fff;
        font-weight: 600;
        background: $btn_3;
        &:hover{
            background: $btn_3_hover;
        }
        &:active{
            background: $btn_3_active;
        }
    }

    a{
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
    }
}