* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', arial, sans-serif;
    transition: .25s;
}



body{
    color: $_1;
    overflow: overlay;
}



.bg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -896px;
    z-index: -1;
    height: 744px;
    width: 744px;
    border-radius: 50%;
    background: #64B4FD;
    filter: blur(800px);
}



.wrapper{
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
}



img{
    user-select: none;
    pointer-events: none;
}



header{
    .wrapper{
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button:nth-child(1){
            background: transparent;
            &:hover{
                background: $btn_1;
            }
            &:active{
                background: $btn_1_hover;
            }
        }
    
        .logo{
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            .icon{
                width: 28px;
                height: 28px;
                border: 3px solid $btn_3;
                border-radius: 10px;
                margin: 0 14px 0 0;
            }
        }
    }
}

main{
    .hero{
        margin: 50px 0 0 0;
        max-width: 708px;
        span{
            background: linear-gradient(269.92deg, #B9DDFE 0.15%, rgba(141, 181, 217, 0) 60.52%), #DEE4E9;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        p{
            margin: 50px 0;
        }
        img{
            margin: 0 16px 0 0;
        }
        button.secondary{
            margin: 0 0 0 20px;
        }
    }

    section.interface{
        margin: 150px 0 0 0;
        width: 100%;
        height: 600px;
        padding: 8px;
        position: relative;
        overflow: hidden;
        background: #ebecf0;
        border-radius: 20px;
        display: flex;
        .bg{
            position: absolute;
            width: 354px;
            height: 354px;
            left: 297px;
            top: -38%;
            z-index: 0;
            filter: blur(300px) brightness(150%);
        }
        nav{
            z-index: 1;
            background: #fff;
            max-width: 320px;
            width: 100%;
            border-radius: 15px;
            padding: 72px 63px;
            ul{
                list-style: none;
                max-width: 220px;
                margin: 0 auto;
                input{
                    display: none;
                    &:checked + label{
                        background: #F4F4F5;
                    }
                }
                label{
                    overflow: hidden;
                    position: relative;
                    color: #000;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 16px 13px 16px 37px;
                    border-radius: 10px;
                    .label-bg{
                        position: absolute;
                        left: -15px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        filter: blur(50px) brightness(300%);
                    }
                    .icon{
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .shortcut{
                        margin: 0 0 0 auto;
                        min-width: 18px;
                        min-height: 18px;
                        padding: 2px;
                        border-radius: 5px;
                        background: #E6E6E6;
                        color: #6A6A6A;
                        font-size: 12px;
                        text-align: center;
                        &.wide{
                            padding: 2px 6px;
                        }
                    }
                }
            }
        }
        article{
            z-index: 1;
            max-width: 353px;
            width: 100%;
            height: 100%;
            margin: 50px auto 0;
            h3{
                position: relative;
                display: flex;
                color: #000;
                font-weight: 400;
                font-size: 20px;
                img{
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: -55px;
                    top: 0;
                }
            }
            input[type=text]{
                padding: 12px 15px;
                margin: 24px 0 10px 0;
                width: 100%;
                height: 40px;
                background: rgba($color: #8A8A8A, $alpha: .2);
                border: none;
                border-radius: 10px;
                &::placeholder{
                    color: $_2;
                    font-size: 14px;
                }
                &:focus{
                    outline: none;
                }
            }
            input[type=checkbox]{
                display: none;
                &:checked + label{
                    span{
                        text-decoration: line-through;
                    }
                    .chb{
                        background-image: url('../images/checkmark.svg');
                    }
                }
            }
            input[type=checkbox] + label{
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 15px;
                background: #F4F4F5;
                border-radius: 10px;
                font-size: 12px;
                color: #2D2D2D;
                margin: 0 0 5px 0;
                .chb{
                    cursor: pointer;
                    background: #E6E6E6;
                    border-radius: 5px;
                    width: 18px !important;
                    height: 18px !important;
                    background-size: 60% 60%;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: grayscale(20%);
                    margin: 0 7px 0 0;
                }
                span{
                    margin: 0 auto 0 0;;
                }
                .date{
                    color: $_2;
                    background: #ECECEC;
                    font-size: 12px;
                    border-radius: 5px;
                    padding: 2px;
                    margin: 0 9px 0 0;
                }
                img{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }

    section:nth-child(3){
        margin: 150px 0 0 0;
        article{
            z-index: 1;
            background: #ECEFF2;
            border-radius: 20px;
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            .bg{
                position: absolute;
                width: 461px;
                height: 237px;
                left: 0;
                top: 93px;

                background: rgba(185, 221, 254, 0.3);
                filter: blur(300px);
            }
            div{
                display: block;
                margin: 60px 0 0 72px;
            }
            h2{
                max-width: 269px;
                margin: 0 0 20px 0;
            }
            p{
                max-width: 359px;
            }
            img{

                position: absolute;
                width: 353px;
                right: 124px;
                bottom: -35px;
            }
        }
        div{
            margin: 40px 0 0 0;
            display: flex;
            justify-content: space-between;
            article{
                position: relative;
                display: block !important;
                max-width: 500px;
                height: 500px;
                width: 100%;
                padding: 60px;
                &:nth-child(1){
                    .bg{
                        position: absolute;
                        width: 461px;
                        height: 237px;
                        left: 0;
                        top: 18px;
                        background: rgba(185, 221, 254, 0.3);
                        filter: blur(300px);
                    }
                    img{
                        width: 265px !important;
                        bottom: 0 !important;
                    }
                }
                &:nth-child(2){
                    display: flex !important;
                    flex-flow: column;
                    justify-content: end;
                    .bg{
                        position: absolute;
                        width: 451.96px;
                        height: 237px;
                        left: 0;
                        top: auto;
                        bottom: -14px;
                        background: rgba(185, 221, 254, 0.3);
                        filter: blur(300px);
                    }
                    img{
                        position: absolute;
                        right: 0 !important;
                        top: 144px !important;
                    }
                }
            }
        }
    }

    section:nth-child(4){
        height: 140px;
        position: relative;
        margin: 120px 0;
        .bg{
            position: absolute;
            width: 598px;
            height: 272px;
            top: -74%;
            left: 25%;
            background: rgba(100, 180, 253, 0.3);
            filter: blur(500px);
        }
        input[type=email]{
            width: 100%;
            margin: 0 0 28px 0;
            font-size: 48px;
            border: none;
            background: none;
            &::placeholder{
                color: $_3;
            }
            &:hover{
                &::placeholder{
                    color: #b0b5ba;
                }
            }
            &:focus{
                outline: none;
            }
        }
        button{
            padding: 14px 28px;
            img{
                height: 30px;
                width: 0;
            }
        }
    }
}

footer{
    padding: 64px 0;
    border-top: 1px solid #E6E6E6;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        article:nth-child(1){
            color: #616870;
            font-weight: 500;
            line-height: 1.45;
            div:nth-child(3){
                margin: 4px 0 0 0;
                font-size: 14px;
            }
        }
        article:nth-child(2){
            a{
                display: block;
                width: 40px;
                height: 40px;
                background-color: rgb(236, 239, 242);
                background-image: url('../images/twitter.svg');
                background-size: 40%;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 14px;
            }
        }
    }

}



@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}