::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    background: linear-gradient(to right, transparent 50%, #b7b7b7 50%);
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background: #b7b7b7;
    background-clip: content-box;
}
::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}