h1{
    font-style: bold;
    font-size: 96px;
    color: $_1;
}

h2{
    font-size: 36px;
}

p{
    font-size: 32px;
    &.min{
        font-size: 18px;
        color: $_2;
    }
}

a{
    text-decoration: none;
    color: inherit;
}