$_1: #212121;
$_2: #6A6A6A;
$_3: #C1C1C1;

$btn_1: #ECEFF2;
$btn_1_hover: #E4E7EA;
$btn_1_active: #DCDFE2;

$btn_2: #212121;
$btn_2_hover: #151515;
$btn_2_active: #000000;

$btn_3: #0085FF;
$btn_3_hover: #0370D6;
$btn_3_active: #0066C6;